* {
  font-family: sans-serif;
     margin: 0;
 }
 body{
     background-image: url(Images/flat-lay-desk-concept-with-copy-space.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }
 
 .new-button {
     background: #ff5945;
     padding: 10px 15px;
     position: absolute;
     right: 5px;
     top: 5px;
     bottom: 5px;
     font-size: 20px;
     font-weight: 500;
     border: 0;
     color: #fff !important;
     
 }
 
 .new-button:active,  .new-button:hover{
     background: #fb260e !important;
 }
 .form-control{
     border: 3px solid transparent !important; 
 }
 .form-control:focus{
     border: 3px solid rgb(255, 89, 69) !important; 
     box-shadow: 0 0 0;
 }


 .show {
     right: 20px; /* Bring it into view */
 }
 .done{
     text-decoration: line-through;
     /* color: gray; */
 }